.theme-light {
    --background-primary: rgb(253, 253, 253);
    --background-primary-alt: rgb(253, 253, 253);
    --background-secondary: rgb(253, 253, 253);
    --background-secondary-alt: rgb(253, 253, 253);
    --background-modifier-border: rgb(94, 94, 94);
    --background-modifier-form-field: rgb(253, 253, 253);
    --background-modifier-form-field-highlighted: rgb(253, 253, 253);
    --background-modifier-box-shadow: #f0f0f0;
    --background-modifier-success: #A4E7C3;
    --background-modifier-error: #990000;
    --background-modifier-error-rgb: 230, 135, 135;
    --background-modifier-error-hover: #bb0000;
    --background-modifier-cover: rgba(0, 0, 0, 0.8);
    --text-accent: #085a08;
    --text-accent-hover: #579900;
    --text-normal: #000;
    --text-muted: #888;
    --text-muted-rgb: 136, 136, 136;
    --text-faint: #6b6b6b;
    --text-error: #800000;
    --text-error-hover: #990000;
    --text-highlight-bg: rgba(255, 255, 0, 0.4);
    --text-highlight-bg-active: rgba(255, 128, 0, 0.4);
    --text-selection: rgb(203, 221, 196);
    --text-on-accent: #f2f2f2;
    --interactive-normal: #f2f3f5;
    --interactive-hover: #e9e9e9;
    --interactive-accent: #98d96c;
    --interactive-accent-rgb: 175, 175, 175;
    --interactive-accent-hover: rgba(197, 255, 163, 0.15);
    --interactive-success: #197300;
    --scrollbar-active-thumb-bg: rgba(0, 0, 0, 0.2);
    --scrollbar-bg: rgba(0, 0, 0, 0.05);
    --scrollbar-thumb-bg: rgba(0, 0, 0, 0.1);
    --highlight-mix-blend-mode: darken;
    --custom-graph-component-color: rgb(134, 134, 134);
    --custom-graph-component-color-highlight: rgba(86, 148, 91, 0.719);
    font-weight: 300;
}


/* graph view config */

.graph-view.color-line-highlight {
    color: var(--custom-graph-component-color-highlight);
}

.graph-view.color-line {
    color: var(--custom-graph-component-color);
}

.graph-view.color-text {
    color: var(--text-faint);
}

.graph-view.color-fill-highlight {
    color: var(--custom-graph-component-color-highlight);
}

.graph-view.color-fill {
    color: var(--custom-graph-component-color);
}

.theme-light .graph-view.color-arrow {
    color: var(--custom-graph-component-color);
}

.graph-controls .checkbox-container {
    box-shadow: none;
    border: 1px solid var(--background-modifier-border);
}

.graph-controls .checkbox-container::after {
    box-shadow: none;
    border: 1px solid var(--background-modifier-border);
    top: -1.5px;
    left: -1px;
}

.graph-controls input[type="range"].slider {
    background-color: var(--background-primary-alt);
    border: 1px solid var(--background-modifier-border);
}

.graph-controls input[type="range"].slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid var(--background-modifier-border);
    background-color: var(--custom-graph-component-color-highlight);
}

.graph-controls input[type="color"] {
    background-color: #fff;
}

.graph-controls button.mod-cta {
    border: 1px solid var(--background-modifier-border);
    background-color: rgba(37, 139, 0, 0.8);
    color: rgb(255, 255, 255);
}


/* padding markdown file, for both preview and live preview */

.cm-contentContainer,
.markdown-preview-sizer.markdown-preview-section {
    padding: 15% !important;
}

.HyperMD-quote {
    border-left: 1px solid #666666;
}


/* config viewer title */

.view-header:hover .view-header-title {
    color: var(--text-muted);
}


/* don't display vault name */

.titlebar-text {
    display: none;
}


/* config heading, for both preview and live preview */

h1,
.cm-header.cm-header-1 {
    font-weight: normal;
    line-height: 4rem;
    font-size: 3rem;
    margin: 0 0 1.75rem;
}

.cm-formatting-header-1 {
    position: absolute;
    left: -1em;
}

h2,
.cm-header.cm-header-2 {
    font-weight: normal;
    line-height: 3rem;
    margin: 0 0 1.9375rem;
}

.cm-formatting-header-2 {
    position: absolute;
    left: -2em;
}

h3,
.cm-header.cm-header-3 {
    font-weight: normal;
}

.cm-formatting-header-3 {
    position: absolute;
    left: -3em;
}

h4,
.cm-header.cm-header-4 {
    font-weight: normal;
}

.cm-formatting-header-4 {
    position: absolute;
    left: -4em;
}

h5,
.cm-header.cm-header-5 {
    font-size: 1.125rem;
    font-weight: normal;
}

.cm-formatting-header-5 {
    position: absolute;
    left: -5em;
}

h6,
.cm-header.cm-header-6 {
    font-size: 1rem;
    font-weight: bold;
}

.cm-formatting-header-6 {
    position: absolute;
    left: -6em;
}


/* config paragraph block */

.view-content p {
    color: var(--text-normal);
    font-size: 1em;
    line-height: 1.75rem;
    margin: 0 0 1.25em;
}

.cm-line {
    line-height: 1.75rem;
}


/* config tag and internal link */

a.tag,
a.internal-link {
    font-size: 1em;
    line-height: 1.75em;
    font-weight: 300;
    margin: 0 0 1.25em;
}


/* config blockquote */

.HyperMD-quote.cm-line,
.view-content blockquote {
    margin: 0 0 1.11111em;
    padding: 0.5rem 1.11111em 0 1.05556em;
    border: 0;
    border-left: 1px solid gray !important;
}

.HyperMD-quote,
.HyperMD-quote span.cm-quote,
.view-content blockquote,
.view-content blockquote p {
    line-height: 1.6rem;
    color: #8f6f6f !important;
}


/* config table */

.cm-table-widget>table,
.markdown-reading-view table {
    margin-bottom: 20px;
    width: 100%;
    line-height: 1.75rem;
    border: 0;
}

.cm-table-widget>table>thead>tr>th,
.markdown-reading-view table>thead>tr>th {
    border: 0;
    vertical-align: bottom;
    padding-left: 0.25rem;
    text-align: left;
    border-bottom: 1px solid var(--text-muted);
}

.cm-table-widget>table tr>td,
.markdown-reading-view table tr>td {
    border: 0;
    padding: 0.25rem;
    padding-bottom: 0.75rem;
    text-align: left;
    line-height: 1.75rem;
    vertical-align: top;
    border-bottom: 1px solid var(--text-muted);
}

.cm-table-widget>table tr:last-child>td,
.markdown-reading-view table tr:last-child>td {
    border-bottom: 0;
}

.markdown-reading-view table>caption+thead>tr:first-child>th,
.markdown-reading-view table>caption+thead>tr:first-child>td,
.markdown-reading-view table>colgroup+thead>tr:first-child>th,
.markdown-reading-view table>colgroup+thead>tr:first-child>td,
.markdown-reading-view table>thead:first-child>tr:first-child>th,
.markdown-reading-view table>thead:first-child>tr:first-child>td,
.cm-table-widget>table>caption+thead>tr:first-child>th,
.cm-table-widget>table>caption+thead>tr:first-child>td,
.cm-table-widget>table>colgroup+thead>tr:first-child>th,
.cm-table-widget>table>colgroup+thead>tr:first-child>td,
.cm-table-widget>table>thead:first-child>tr:first-child>th,
.cm-table-widget>table>thead:first-child>tr:first-child>td {
    border-top: 0;
}

.cm-table-widget>table>tbody+tbody,
.markdown-reading-view table>tbody+tbody {
    border-top: 1px solid var(--text-muted);
}


/* config list */

.cm-formatting-list-ul>.list-bullet::after {
    visibility: visible;
    position: absolute;
    right: 2em;
    content: '\2022';
    pointer-events: none;
}

.HyperMD-list-line.cm-line {
    line-height: 1.75em;
}

.markdown-preview-view li {
    color: var(--text-normal);
    font-size: 1em;
    line-height: 1.75em;
    margin: 0 0 1.25em;
}

.markdown-preview-view li>ul {
    margin-top: 1.25em;
}


/* config fold indicators: I DON'T NEED THEM */

.collapse-indicator {
    display: none;
}


/* config img aligning */

.internal-embed.image-embed.is-loaded {
    text-align: center;
}


/* config bold text */

.cm-strong,
strong {
    font-weight: 550 !important;
}


/* config MathJax block (make bigger) */

.MathJax {
    font-size: 1.1em;
}


/* seperating line */

hr {
    width: auto;
    border-bottom: #000 1px solid !important;
    border-top: 0 !important;
}